name: Build and Push

on:
  push:
    branches: ["main"]

concurrency:
  group: build-and-push
  cancel-in-progress: true

env:
  REG_URL: ghcr.io

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        variation: [nginx, cli, frankenphp]
        php: [8.5, 8.4]
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REG_URL }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          file: variations/${{ matrix.variation }}/Dockerfile
          platforms: 'linux/amd64,linux/arm64'
          push: true
          tags: ghcr.io/l3aro/docker-laravel-base:${{ matrix.variation }}-${{ matrix.php }}
          cache-from: type=gha
          cache-to: type=gha
